/* Variables */

:root {
--basic-white: #ffffff;
--basic-extra-white: rgba(255, 255, 255, 0.9);
--basic-transparent-white: rgba(255, 255, 255, 0.3);
--basic-transparent: rgba(255, 255, 255, 0);
--basic-transparent-black: rgba(0, 0, 1, 0.3);
--basic-blue: #81b3d2;
--basic-green: #7fa369;
--basic-extra-blue: #81b3d3;
--basic-ultra-blue: #669EC0;
--basic-marine: #5496BD;
--basic-light: #f2f2f2;
--basic-extra-light: #ebebeb;
--basic-neutral: #eeeeee;
--basic-extra-neutral: #BDBBBC;
--basic-gray: #666666;
--basic-extra-gray: #e5e5e5;
--basic-dust: #6a6a6a;
--basic-dark: #ababab;
--basic-brown: #766357;
--basic-extra-brown: #766458;
--basic-chocolate: #604E43;
--basic-extra-chocolate: #503E33;
--basic-black: #000000;
--basic-extra-black: #333333;
--basic-ultra-black: #231f20;

--special: #a9a9a9;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
}

  a {
    text-decoration: none;
}

  img {
  max-width: 100%;
  height: auto;
  text-transform: none;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-light);
}

.grid-container-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns:  371px min-content 372px;
  grid-template-rows: 77px 1fr 57px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns:  340px min-content 341px;
  grid-template-rows: 509px 216px;
}

.grid-container-3 {
  display: grid;
  grid-template-columns:  316px 568px 316px;
  grid-template-rows: 396px 78px 120px;
  margin: 0 auto;

}

.modal-map {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  background-color: var(--basic-green);
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px 594px;
}

/* Shadow-Page */

.shadow-box {
  width: 1200px;
  height: 100%;
  box-shadow:
  5px 0 7px -5px var(--basic-extra-neutral),
  -5px 0 7px -5px var(--basic-extra-neutral);
  margin: 0 auto;
}

/* Main header */

.main-header {
  margin: 0 auto;
  width: 1200px;
  font-family: "PT Sans", "Futura", sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-white);
  text-align: center;
}

.inner-page {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  background-color: var(--basic-light);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Logo */

.main-header-logo {
  font-family: "PT Sans", "Futura", sans-serif;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 1;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  background-image: url("img/logo.svg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 138px 70px;
}



/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 1fr 138px 1fr;
  grid-template-rows: 56px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  justify-content: space-between;
  margin: 0 auto;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
  margin: 0 auto;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.main-navigation-wrapper .container {
  display: flex;
}

/* Site Navigation */

.site-navigation {
  list-style: none;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.site-navigation a {
  color: var(--basic-black);
  padding: 0 72px;
}

.site-navigation li {
  padding-top: 13px;
}

.site-navigation li:first-child a {
  margin-right: -9px;
}

.site-navigation li:nth-child(3) {
  margin-right: -269px;
}

.site-navigation li:nth-child(2) {
  margin-left: -272px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current a:not(href) {
  color: var(--basic-brown);
}

.site-navigation-current a:hover {
  color: var(--basic-brown);
}

.site-navigation-current a:active {
  color: var(--basic-brown);
}

/* Slogan */

.main-background {
  height: 509px;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: right;
  color: var(--basic-white);
  background-color: var(--basic-ultra-blue);
  background-image: url("../img/great_view.vg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 1200px 509px;
}

.slogan {
  grid-column: 2 / 3;
  z-index: 2;
  grid-row: 2 / 3;
  width: 457px;
  padding: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: var(--basic-white);
  background-image: url("../img/welcome.vg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 457px 351px;
}

.mask {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  z-index: 3;
  background-color: transparent;
  color: var(--basic-white);
  background-image: url("../img/shape-2.svg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
}

/* Headline */

.headline {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  background-color: var(--basic-white);
  text-align: center;
}

.subtitle {
  width: 470px;
  height: 80px;
  margin: 42px 365px 16px auto;
  padding: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
}

.description {
  width: 519px;
  margin: 16px 340px 51px auto;
  padding: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-extra-black);
  background-color: var(--basic-white);
  text-align: center;
}

/* Features */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px 1fr 1fr;
}

.feature-item {
  background-color: var(--basic-white);
}

.sedona {
  grid-column: 1 / 2;
}

.bridge {
  grid-row: 1 / 2;
}

.title {
  margin: 45px 140px;
  margin-bottom: 25px;
}

div:nth-of-type(2).feature-item h3 {
  margin-left: 126px;
  margin-bottom: 26px;
  margin-top: 48px;
  margin-right: 125px;
  padding: 0;
}

div:first-of-type.feature-item p {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 19px;
}

div:nth-of-type(2).feature-item p {
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 23px;
}

div:nth-of-type(3).feature-item p {
  margin-left: 96px;
  margin-right: 96px;
  margin-top: 23px;
}

div:nth-of-type(4).feature-item p {
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 23px;
}

div:nth-of-type(5).feature-item p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 23px;
}

div:nth-of-type(6).feature-item img {
  margin-top: 59px;
}

div:nth-of-type(6).feature-item h3 {
  margin-bottom: 25px;
}

div:nth-of-type(7).feature-item img {
  margin-top: 61px;
}

div:nth-of-type(7).feature-item p,
div:nth-of-type(8).feature-item p {
  margin-top: 26px;
}

div:nth-of-type(8).feature-item img {
  margin-top: 54px;
}

.feature-item h3 {
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.special {
  position: relative;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-extra-black);
  text-align: center;
  background-color: var(--basic-white);
  margin-top: 19px;
}

.recommendation {
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-black);
  text-align: center;
  background-color: var(--basic-white);
  height: 42px;
}

div:first-of-type.feature-item {
  display: grid;
  grid-template-columns: 400px auto;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  background-image: url("../img/town.jpg");
  background-position: right, center;
  background-repeat: no-repeat;
  background-size: 800px 256px;
}

div:nth-of-type(2).feature-item {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 256px;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-blue);
  background-image: url("../img/image3.jpg");
  background-position: left, center;
  background-repeat: no-repeat;
  background-size: 800px 256px;
}

div:nth-of-type(3).feature-item,
div:nth-of-type(4).feature-item,
div:nth-of-type(5).feature-item {
  background-color: var(--basic-neutral);
  color: var(--basic-extra-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  grid-row: 4 / 5;
}

div:nth-of-type(3).feature-item {
  grid-column: 1 / 2;
}

div:nth-of-type(4).feature-item {
  grid-column: 2 / 3;
}

div:nth-of-type(5).feature-item {
  grid-column: 3 / 4;
}

div:nth-of-type(6).feature-item {
  grid-column: 1 / 2;
  padding-left: 73px;
  padding-right: 73px;
}

div:nth-of-type(7).feature-item {
  grid-column: 2 / 3;
  padding-left: 50px;
  padding-right: 50px;
}

div:last-of-type.feature-item {
  grid-column: 3 / 4;
  padding-left: 62px;
  padding-right: 60px;
}

/* Buttons */

.button {
  display: inline-block;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  outline: none;
  padding: 30px;
  box-sizing: border-box;
}

.button-search {
  width: 458px;
  height: 58px;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  margin-top: 55px;
  padding-top: 15px;
}

.button-details:hover,
.button-search:hover {
  background-color: var(--basic-ultra-blue);
}

.button-details:active,
.button-search:active {
  background-color: var(--basic-marine);
  border: none;
}

.map {
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
}

  a:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--special);
}

.button-hotels {
  width: 568px;
  height: 86px;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
}

.button-book:hover,
.button-hotels:hover {
  background-color: var(--basic-chocolate);
}

.button-book:active,
.button-hotels:active {
  background-color: var(--basic-extra-chocolate);
  border: none;
}

.button-details {
  width: 110px;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  margin-left: 29px;
  margin-bottom: 30px;
  margin-right: 6px;
  padding-left: 17px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.button-book {
  width: 142px;
  height: 27px;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  margin-bottom: 30px;
  padding: 0;
}

/* Forms */

.filters {
  width: 1200px;
  height: 217px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Futura", sans-serif;
  font-weight: 700;
  text-align: center;
}

.filter {
  display: flex;
  /*
  grid-template-columns: 256px 256px 228px 460px;
  grid-template-rows: 97px 120px;
  */
  justify-content: space-between;
  background-color: var(--basic-ultra-blue);
  color: var(--basic-white);
  background-image: url("../img/background.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 1200px 217px;
}

fieldset:nth-of-type(2).filter-item {
  margin-left: -189px;
}

fieldset:nth-of-type(3).filter-item {
  margin-right: 60px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
  margin-left: -25px
}

.filter-item {
  border: none;
  padding-top: 1px;
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 25px;
}

.pool {
  width: 190px;
}

.wi-fi {
  width: 160px;
}

.hotel {
  width: 210px;
}

.motel {
  width: 185px;
}

.suite {
  width: 225px;
}

.filter-button {
  width: 137px;
  height: 35px;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 5px;
  margin-left: -13px;
  margin-top: 20px;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 1px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 32px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 1px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-dust);
  border-radius: 2px;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 32px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checked-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.range-filter {
  width: 318px;
  margin-top: 15px;
}

.legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 25px;
}

/*
fieldset:nth-of-type(2) legend {
  margin-left: -55px;
}
*/

.range-controls {
  position: relative;
  height: 16px;
  background-color: transparent;
  margin-top: 5px;
  padding-top: 14px;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-transparent-white);
}

.range-controls .toggle {
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-dark);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-transparent-white);
  cursor: pointer;
  outline: none;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 250px;
}

.range-controls .toggle:hover {
  position: absolute;
  top: 5px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid var(--basic-white);
  background-color: var(--basic-dark);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-transparent-white);
  cursor: pointer;
  outline: none;
}

.range-controls .toggle-min:hover {
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid var(--basic-white);
  background-color: var(--basic-dark);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-transparent-white);
  cursor: pointer;
  outline: none;
}

.range-controls .toggle-max:hover {
  position: absolute;
  top: 5px;
  left: 255px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid var(--basic-white);
  background-color: var(--basic-dark);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-transparent-white);
  cursor: pointer;
  outline: none;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: transparent;
  padding-right: 22px;
  padding-top: 2px;
  margin-top: -4px;
  position: relative;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  box-sizing: border-box;
  margin-left: 50px;
  border: none;
}

.price-controls label::after {
  content: "";
  position: absolute;
  left: 156px;
  top: 5px;
  height: 22px;
  border-left: 2px solid var(--basic-white);
}

.price-controls input {
  text-transform: uppercase;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  border: none;
  color: var(--basic-white);
  background: var(--basic-transparent);
  width: 45px;
  padding: 0;
  text-align: left;
  margin: 2px;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  z-index: 1;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
}

.page-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-socials {
  text-align: center;
  justify-self: center;
}

.icons {
  list-style: none;
}

/* Contacts */

.footer-contacts-phone {
  color: var(--basic-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-left: 75px;
  padding: 0;
  transform: translateY(-12px);
}

.contacts-phone {
  color: var(--basic-black);
}

/* Social button */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding-top: 36px;
  padding-left: 0;
  list-style: none;
}

.twitter {
  background: url("../img/twitter.svg") no-repeat center;
  background-color: var(--basic-blue);
}

.facebook {
  background: url("../img/fb-icon.svg") no-repeat center;
  background-color: var(--basic-blue);
}

.youtube {
  background: url("../img/youtube.svg") no-repeat center;
  background-color: var(--basic-blue);
}

.twitter:hover {
  background: url("../img/twitter.svg") no-repeat center;
  background-color: var(--basic-ultra-blue);
}

.twitter:active {
  background: url("../img/twitter-active.svg") no-repeat center;
  background-color: var(--basic-marine);
}

.facebook:hover {
  background: url("../img/fb-icon.svg") no-repeat center;
  background-color: var(--basic-ultra-blue);
}

.facebook:active {
  background: url("../img/fb-icon-active.svg") no-repeat center;
  background-color: var(--basic-marine);
}

.youtube:hover {
  background: url("../img/youtube.svg") no-repeat center;
  background-color: var(--basic-ultra-blue);
}

.youtube:active {
  background: url("../img/youtube-active.svg") no-repeat center;
  background-color: var(--basic-marine);
}

/* Copyrights */

.footer-copyright {
  padding-bottom: 0;
  padding-right: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website {
  width: auto;
  color: var(--basic-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-right: 5px;
}

.copyright {
  background: url("../img/logo-htmlacademy.svg") no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}

.copyright:hover {
  background: url("../img/logo-htmlacademy-hover.svg") no-repeat center;
}

.copyright:active {
  background: url("../img/logo-htmlacademy-active.svg") no-repeat center;
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-show {
  display: block;
}

.modal-booking {
  width: 568px;
  margin-top: 0;
  z-index: 1;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.booking-form {
  width: 568px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding-top: 41px;
  padding-bottom: 55px;
  padding-left: 55px;
  box-sizing: border-box;
}


.booking-item {
  padding: 0;
  position: relative;
}

.booking-item .input-date {
  position:absolute;
  top:8px;
  right:8px;
  width:22px;
  height:22px;
  cursor:pointer;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.booking-item .input-date:hover {
  background-image: url("../img/calendar-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.booking-item .input-date:active {
  background-image: url("../img/calendar-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.booking-item input::placeholder {
  color: var(--basic-black);
}

.booking-item input {
  width: 333px;
  height: 36px;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light);
  border: none;
  outline: none;
  margin-bottom: 29px;
  padding-left: 12px;
  position: relative;
}

div:first-of-type.booking-item input {
  margin-left: 21px;
}

div:nth-of-type(2).booking-item input {
  margin-left: 16px;
}

div:first-of-type.booking-item input::after,
div:nth-of-type(2).booking-item input::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 310px;
  width: 25px;
  height: 25px;
}

div:first-of-type.booking-item input:hover:after,
div:nth-of-type(2).booking-item input:hover:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 310px;
  width: 25px;
  height: 25px;
}

div:first-of-type.booking-item input:active:after,
div:nth-of-type(2).booking-item input:active:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 310px;
  width: 25px;
  height: 25px;
}

div:nth-of-type(3).booking-item input,
div:nth-of-type(4).booking-item input {
  width: 107px;
  text-align: center;
  margin-bottom: 0;
  padding-left: 5px;
}

div:nth-of-type(3).booking-item input {
  margin-left: 37px;
  margin-right: 52px;
}

div:nth-of-type(4).booking-item input {
  margin-left: 23px;
}

.booking-item input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-extra-gray);
  outline-offset: -2px;
}

.booking-item input:hover {
  background-color: var(--basic-extra-light);
  border: none;
  outline: none;
}

.booking-item-button {
  position:absolute;
  top:0;
  width:38px;
  height:30px;
  padding-top:10px;
  cursor:pointer;
}

.booking-item .remove-button-adult {
   left:112px;
   background-image: url("../img/rectangle-4.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   outline: none;
 }

.booking-item .remove-button-adult:hover,
.booking-item .remove-button-child:hover {
  background-image: url("../img/rectangle-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.booking-item .remove-button-adult:active,
.booking-item .remove-button-child:active {
  background-image: url("../img/rectangle-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.booking-item .add-button-adult {
  left:187px;
  background-image: url("../img/union.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}

.booking-item .add-button-adult:hover,
.booking-item .add-button-child:hover {
  background-image: url("../img/union-hover.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.booking-item .add-button-adult:active,
.booking-item .add-button-child:active {
  background-image: url("../img/union-active.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.booking-item .remove-button-child {
  left:66px;
  background-image: url("../img/rectangle-4.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}

.booking-item .add-button-child {
  left:142px;
  background-image: url("../img/union.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}

/* Other */

.caption {
  color: var(--basic-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-left: 71px;
}

.lead {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.lead h3 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 55px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.lead p {
  margin-top: 1px;
  margin-left: 380px;
  margin-right: 382px;
  margin-bottom: 45px;
}

/* Inner */

.inner-header {
  margin: 0;
  padding: 72px 15px;
  font-family: "PT Sans", "Futura", sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  max-height: 56px;
  background-color: var(--basic-white);
  text-align: center;
}

/* Sort */

.output {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  position: relative;
  padding-left: 73px;
  padding-right: 610px;
}

.sorting-menu {
  position: relative;
}

.sort-link {
  position: absolute;
  top: 40px;
  left: 1116px;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-item {
  position: absolute;
  top: 40px;
  left: 1116px;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hotels {
  box-sizing: border-box;
}

.output::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 1116px;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.output::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 1093px;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.hotels-catalogue {
  display: flex;
  flex-wrap: wrap;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: -4px;
}

.sort {
  margin-top: 5px;
}

.sort-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 240px;
  margin-top: 5px;
}

.sort-item a {
  color: var(--basic-transparent-black);
  border-bottom: 1px dotted var(--basic-blue);
}

.current-sort a:not(href) {
  color: var(--basic-blue);
  border-bottom: none;
}

.sort-item a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-items {
  list-style: none;
  display: flex;
  position: relative;
}

.table {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.current-sort {
  color: var(--basic-blue);
}

.current-sort a:hover {
  border: none;
}

.results-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.result-item {
  border-top: 1px solid var(--basic-extra-gray);
  display: grid;
  grid-template-columns:  73px 135px 992px;
  grid-template-rows: 30px 90px 30px;
  box-sizing: border-box;
  position: relative;
}

li:last-child.result-item {
  border-bottom: 1px solid var(--basic-extra-gray);
  position: relative;
}

li:first-child.result-item::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 1054px;
  width: 75px;
  height: 20px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

li:nth-child(2).result-item::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 1071px;
  width: 55px;
  height: 20px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

li:last-child.result-item::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 1090px;
  width: 37px;
  height: 20px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.hotel-alternate {
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-white);
  color: var(--basic-black);
  background-image: url("amara.png");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 135px 90px;
}

.image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.result-content {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 792px 200px;
  grid-template-rows: 50px 42px 59px;
  padding: 0;
}

.name {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  margin: 23px 29px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.type-1 {
  margin-right: 35px;
}

.type-2 {
  margin-right: 60px;
}

.type-3 {
  margin-right: 17px;
}

.buttons {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttons button {
  height: 27px;
}

.type {
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 7px 29px;
  text-align: left;
}

.rating {
  width: 110px;
  height: 27px;
  font-family: "PT Sans", "Futura", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-light);
  color: var(--basic-gray);
  grid-column: 2 / 3;
  grid-row: auto;
  margin-left: 17px;
  margin-top: 93px;
}

/* Page Footer */

.page-footer {
  margin: 0 auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
  background-position: 0 0;
  background-repeat: no-repeat;
}
