/* Variables */

:root {
--basic-white: #ffffff;
--basic-extra-white: rgba(255, 255, 255, 0.9);
--basic-blue: #81b3d2;
--basic-extra-blue: #81b3d3;
--basic-ultra-blue: #669EC0;
--basic-mare: #5496BD;
--basic-light: #f2f2f2;
--basic-extra-light: #ebebeb;
--basic-neutral: #eeeeee;
--basic-extra-neutral: #BDBBBC;
--basic-gray: #666666;
--basic-extra-gray: #e5e5e5;
--basic-brown: #766357;
--basic-extra-brown: #766458;
--basic-chocolate: #604E43;
--basic-extra-chocolate: #503E33;
--basic-black: #000000;
--basic-extra-black: #333333;
--basic-ultra-black: #231f20;

--special: #a9a9a9;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
}

  a {
    text-decoration: none;
}

  img {
  max-width: 100%;
  height: auto;
  text-transform: none;
}

/* Grid */

.page {
  height: 100%;


}

.page-body {
  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.grid-container-1 {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns:  371px min-content 372px;
  grid-template-rows: 77px 1fr 57px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns:  340px min-content 341px;
  grid-template-rows: 1fr 216px;
}


/* Main header */

.main-header {
  margin: 0 auto;
  font-family: "PT Sans", Aerial, sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-white);
  text-align: center;



}

.inner-page {
  margin: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-white);
  text-align: center;
}

/* Logo */

.main-header-logo {
  position: absolute;
  left: 670px;
  font-family: "PT Sans", Aerial, sans-serif;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  background-image: url("img/logo.svg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 138px 70px;



}



/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  align-items: center;
}

.main-navigation-wrapper {
  width: 1200px;
  background-color: var(--basic-white);
}



.user-nav {



  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  flex-grow: 1;
}

.user-nav-1 {
  text-align: left;
}

.user-nav-2 {
  padding-left: 134px;
}

.user-nav-4 {
  padding-right: 72px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Site Navigation */

.site-navigation {
  list-style: none;




  min-width: 1200px;
  margin: 0;
  padding: 0;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

 User navigation


.site-navigation {
  color: var(--basic-black);
}


.site-navigation a:hover {
  background-color: var(--basic-neutral);
} */

.site-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 15px 72px;
}

.user-nav:hover {
  color: var(--basic-blue);
}

.user-nav:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-nav:active {
  color: yellow;
}

/* Slogan */

.main-background {
  height: 509px;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: right;
  background-color: var(--basic-extra-blue);
  color: var(--basic-white);
  background-image: url("great_view.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 1200px 509px;


}

.slogan {
  grid-column: 2 / 3;
  z-index: 2;
  grid-row: 2 / 3;
  width: 457px;

  padding: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: var(--basic-white);
  background-image: url("welcome.svg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 457px 351px;


}

.mask {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  z-index: 3;
  background-image: url("img/Shape2.svg");
}

/* Headline */



.headline {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  background-color: var(--basic-white);
  text-align: center;
}

.subtitle {
  width: 470px;
  height: 80px;
  margin: 42px 365px 16px auto;
  padding: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
}

.description {
  width: 519px;
  margin: 16px 340px 51px auto;

  padding: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-extra-black);
  background-color: var(--basic-white);
  text-align: center;
}

/* Features */



.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-black);
  background-color: var(--basic-neutral);
  text-align: center;
}

.feature-item-1 {
  display: grid;
  grid-template-columns: 400px auto;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.feature-item-2 {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 256px;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.feature-item-3 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.feature-item-4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.feature-item-5 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.content-1 {


  grid-column: 1 / 2;

}

.photo-2 {
  grid-row: 1 / 2;
}

.h3-1 {
  width: 122px;
  height: 43px;
  margin: 47px 139px;
  margin-bottom: 25px;
}

.h3-2 {

  margin: 50px 126px;
  margin-bottom: 25px;
}

.h3-3 {

  margin: 47px 140px;
  margin-bottom: 25px;
}

.h3-4 {
  width: 99px;
  height: 43px;
  margin: 47px auto;
  margin-bottom: 25px;
}

.h3-5 {
  width: 98px;
  height: 43px;
  margin: 47px auto;
  margin-bottom: 25px;
}

.p-1 {
  width: 297px;
  height: 43px;
  margin-left: 52px;
  margin-bottom: 54px;
}

.p-2 {
  width: 301px;
  height: 43px;
  margin-left: 50px;
  margin-bottom: 51px;
}

.p-3 {
  width: 207px;
  height: 43px;
  margin-left: 96px;
}

.p-4 {
  width: 258px;
  height: 54px;
  margin-left: 77px;
}

.p-5 {
  width: 301px;
  height: 43px;
  margin-left: 50px;
}

.feature-item h3 {
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.special {
  position: relative;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-extra-black);
  text-align: center;
  background-color: var(--basic-white);
}

.rec {
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-black);
  text-align: center;
  background-color: var(--basic-white);
}

.rec-1 {
  width: 254px;
  height: 42px;
  margin-left: 73px;
}

.special-1 {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

.special-2 {
  margin-top: 25px;
  margin-bottom: 28px;
}

.special-3 {
  margin-top: 25px;
  margin-bottom: 30px;
  position: relative;
}

/*

.special-1::before {
  content: "";
  left: 50%;
  width: 75px;
  height: 72px;

  background-image: url("img/icon-1.svg");
  background-repeat: no-repeat;
}



.photo-1 {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  background-image: url("img/image2.png");
  background-position: right, 50%;
  background-repeat: no-repeat;
  background-size: 800px 256px;
} */

.icon-1 {
  margin-top: 60px;
}

.icon-2 {
  margin-top: 60px;
}

.icon-3 {
  margin-top: 50px;
}

li:first-child.feature-item {
background-color: var(--basic-blue);
font-family: "PT Sans", Aerial, sans-serif;
font-size: 14px;
line-height: 26px;
font-weight: 400;
text-align: center;
color: var(--basic-white);
background-image: url("img/image2.png");
background-position: center, 0 0;
background-repeat: no-repeat;
background-size: 1200px 256px;
}

li:nth-child(2).feature-item {
background-color: var(--basic-blue);
color: var(--basic-white);
font-family: "PT Sans", Aerial, sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: 400;
text-align: center;
background-image: url("img/image3.png");
background-position: center, 0 0;
background-repeat: no-repeat;
background-size: 1200px 256px;
}

li:nth-child(3).feature-item,
li:nth-child(4).feature-item,
li:nth-child(5).feature-item {
  background-color: var(--basic-neutral);
  color: var(--basic-extra-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.benefits {
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
  grid-row: 2 / 3;
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.benefits h3 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.b-1 {
  grid-column: 1 / 2;

}

.b-2 {
  grid-column: 2 / 3;
}

.b-3 {
  grid-column: 3 / 4;
}

/* .inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
} */

/* Button */

.button {
  display: inline-block;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.button-search {
  width: 458px;
  height: 58px;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.button-details:hover,
.button-search:hover {
  background-color: var(--basic-ultra-blue);
}

.button-details:active,
.button-search:active {
  background-color: var(--basic-mare);
  border: none;
}


  a:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--special);
}

.button-hotels {
  width: 568px;
  height: 86px;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
}

.button-book:hover,
.button-hotels:hover {
  background-color: var(--basic-chocolate);
}

.button-book:active,
.button-hotels:active {
  background-color: var(--basic-extra-chocolate);
  border: none;
}

.button-details {
  width: 110px;
  height: 27px;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  margin-left: 29px;
  margin-bottom: 30px;
  margin-right: 6px;
}

.button-book {
  width: 142px;
  height: 27px;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  margin-bottom: 30px;
}

/* Forms */

.form-1 {
  display: flex;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-extra-white);




}

.main-footer .container {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.footer-contacts {
  margin: 0;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-socials {
  text-align: center;
  justify-self: center;

}

.icons {
  list-style: none;
}

/* Contacts */

.footer-contacts-phone {
  background-color: var(--basic-extra-white);
  color: var(--basic-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}



/* Social button */

.social-button {
  color: var(--basic-blue);
}

.social-button-1 {
  background:

  url("../img/RectangleDefault.svg") no-repeat center,
  url("../img/twitter.svg") no-repeat center;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-extra-blue);
}

/* Copyrights */

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-white);
  background-color: var(--basic-white);
}

.footer-copyright {
  /* max-width: ; */
  margin: 0;
  justify-self: end;
}

.website {
  width: 74px;
  height: 26px;
  margin-left: 42px;
  margin-top: 32px;
  word-break: keep-all;
  color: var(--basic-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-show {
  display: block;
}

.modal-booking {
  width: 568px;
  margin-left: 315px;

}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}


.booking-item {
  display: border-box;
  width: 346px;
  margin-top: 0;
  margin-bottom: 10px;


}

.booking-item-0,
.booking-item-1 {

  flex-grow: 1;
}

.booking-item-2,
.booking-item-3 {

  flex-basis: 114px;
}

.booking-item label {
  display: inline-flex;
  margin-bottom: 9px;
  margin-left: 0;
}

.booking-item input {
  width: 346px;
  font: inherit;
  background-color: var(--basic-light);
  border: none;
  box-sizing: border-box;
}

.booking-item input:focus {
  border: 2px solid var(--basic-extra-gray);
  background-color: var(--basic-white);
}

.booking-item input:hover {

  background-color: var(--basic-extra-light);
}

input::-webkit-calendar-picker-indicator:focus {
  background: url("../img/calendar1.svg") no-repeat center;

}

::-webkit-calendar-picker-indicator {
  background: url("../img/calendar.svg") no-repeat center;
  background-size: contain;
}

input::-webkit-calendar-picker-indicator:hover {
  background: url("../img/calendar2.svg") no-repeat center;

}

.toast {
  display: -webkit-box;
-webkit-appearance: default-button;
}

::-webkit-inner-spin-button {
-webkit-appearance: default-button;
}

::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Other */

.caption {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.lead {
  width: 435px;
  height: 155px;
  margin-top: 58px;
  margin-left: 383px;
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.lead h3 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Inner */

.inner-header {
  margin: 0;
  padding: 72px 15px;
  font-family: "PT Sans", Aerial, sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700px;
  background-color: var(--basic-white);
  text-align: center;
}

.filter {
  height: 217px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-extra-blue);
  color: var(--basic-white);
  background-image: url("Image5.png");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 1200px 217px;
}

.results-list {
  list-style: none;
  /*
  display: flex;
  flex-direction: column;
  */
  padding-inline-start: 0;
}

.result {
  border-top: 1px solid var(--basic-extra-gray);

  display: grid;
  grid-template-columns:  73px 135px 992px;
  grid-template-rows: 30px 90px 30px;
  /*
  box-sizing: border-box;
*/
}

li:last-child.result {
  border-bottom: 1px solid var(--basic-extra-gray);
}

.hotel-alternate {
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-white);
  color: var(--basic-black);
  background-image: url("amara.png");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-size: 135px 90px;
}

.image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.misc {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 792px 200px;
  grid-template-rows: 50px 42px 1fr;
}

.name {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  margin: 23px 29px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.type-1 {

  margin-right: 40px;
}

.type-2 {

  margin-right: 65px;
}

.type-3 {

  margin-right: 20px;
}

.buttons {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: left;
}

.type {
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 7px 29px;
  text-align: left;
}

.rate {
  width: 110px;
  height: 27px;
  font-family: "PT Sans", Aerial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-light);
  color: var(--basic-gray);
  grid-column: 2 / 3;
  grid-row: auto;
  margin-right: 73px;
  margin-top: 50px;
}

/* Page Footer */

.page-footer {
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}

/* Graphics */
